* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4 {
    color: #4F4F4F;
}

p, li, span, div, but {
    color: #393E46;
}

a {
    text-decoration: none;
    color: #4F4F4F;
}

.wrapper {
    height: 100vh;
}

.first-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 1.15rem;
    min-height: 550px;
}

.first-grid--inner {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.15rem;
    height: 450px;
}

.profile {
    height: 550px;
}

.skills {
    min-height: 220px;
}

.soft-skills {
    min-height: 200px;
}

.hobbies {
    height: 650px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 1.15rem;
}

.project-grid {
    display: grid;
    grid-template-rows: 70px repeat(3, 1fr);
    gap: 1.15rem;
}

.last-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 1.15rem;
}

.inner-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
}


@media (prefers-color-scheme: dark) {
    img {
        filter: brightness(.8) contrast(1.2);
    }
}

@media screen and (min-width: 969px) and (max-width: 1174px) {
    .skills {
        min-height: 280px;
    }
}

@media screen and (min-width: 950px) and (max-width: 968px) {
    .skills {
        min-height: 300px;
    }
}

@media screen and (max-width: 949px) {
    .first-grid--inner {
        grid-template-rows: 1fr;
        height: auto;
    }
    .projects-grid, .last-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .first-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .profile, .about {
        height: auto;
    }
    .soft-skills {
        text-align: center;
    }
    .soft-skills h2 {
        padding-bottom: 1rem;
    }
    .experience {
        height: auto;
    }
    .inner-grid {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
}